.DS_Store
__MACOSX
/venv
/.idea
*.pyc
__pycache__
logs
aclImdb
metadata.tsv
vectors.tsv
*.tar.gz
*.h5
/nlp/bert/data
/nlp/bert/datasets
/nlp/bert/cornell movie-dialogs corpus
/nlp/bert/bert-it-1
/drl/lunar-lander/videos
*.out
*.egg-info
cuda/pybind11/demo/build
*.so
build
